/Toepen.ipynb
/Toepen-Abstraction.ipynb
/Toepen-extensive-tree.ipynb
/Toepen-mccfr-evaluate.ipynb
/Toepen-Plot-Card-Isomorphism.ipynb
/toepen-selfplaying.ipynb
/Toepen_test_1.ipynb
/Untitled.ipynb
/LISA/
/Plots/
/.ipynb_checkpoints/
/wandb/
/mysite/*.pyc
/mysite/*~
/mysite/__pycache__
/mysite/db.sqlite3
/mysite//static
/mysite/.DS_Store